<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card mt-5">

                <!-- Login Form View -->
                <ng-container *ngIf="isLoginMode">
                    <div class="card-header bg-primary bg-opacity-75">
                        <h3 class="card-title mb-0 text-white">Login</h3>
                    </div>
                    <div class="card-body">
                        <div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
                        <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
                            <div class="mb-3">
                                <label for="login-email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="login-email" formControlName="email"
                                    [ngClass]="{'is-invalid': hasError(loginForm, 'email','required') || hasError(loginForm, 'email','email')}" />
                                <div class="invalid-feedback" *ngIf="hasError(loginForm, 'email', 'required')">
                                    Email is required
                                </div>
                                <div class="invalid-feedback" *ngIf="hasError(loginForm, 'email', 'email')">
                                    Please, enter a valid email address
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="login-password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="login-password"
                                    formControlName="password"
                                    [ngClass]="{'is-invalid': hasError(loginForm, 'password','required') || hasError(loginForm, 'password','minlength')}" />
                                <div class="invalid-feedback" *ngIf="hasError(loginForm, 'password', 'required')">
                                    Password is required
                                </div>
                                <div class="invalid-feedback" *ngIf="hasError(loginForm, 'password', 'minlength')">
                                    Password must be at least 6 characters long
                                </div>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">
                                    Login
                                </button>
                            </div>
                            <div class="text-center mt-3">
                                You don't have an account? <a [routerLink]="'/signup'">Sign up</a>
                            </div>
                        </form>
                    </div>
                </ng-container>

                <!-- Signup Form View -->
                <ng-container *ngIf="!isLoginMode">
                    <div class="card-header bg-primary bg-opacity-75">
                        <h3 class="card-title mb-0 text-white">Sign Up</h3>
                    </div>
                    <div class="card-body">
                        <div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
                        <form [formGroup]="signupForm" (ngSubmit)="onSignupSubmit()">
                            <div class="mb-3">
                                <label for="signup-email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="signup-email" formControlName="email"
                                    [ngClass]="{'is-invalid': hasError(signupForm, 'email','required') || hasError(signupForm, 'email','email')}" />
                                <div class="invalid-feedback" *ngIf="hasError(signupForm, 'email', 'required')">
                                    Email is required
                                </div>
                                <div class="invalid-feedback" *ngIf="hasError(signupForm, 'email', 'email')">
                                    Please, enter a valid email address
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="signup-password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="signup-password"
                                    formControlName="password"
                                    [ngClass]="{'is-invalid': hasError(signupForm, 'password','required') || hasError(signupForm, 'password','minlength')}" />
                                <div class="invalid-feedback" *ngIf="hasError(signupForm, 'password', 'required')">
                                    Password is required
                                </div>
                                <div class="invalid-feedback" *ngIf="hasError(signupForm, 'password', 'minlength')">
                                    Password must be at least 6 characters long
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="confirmPassword" class="form-label">Confirm Password</label>
                                <input type="password" class="form-control" id="confirmPassword"
                                    formControlName="confirmPassword"
                                    [ngClass]="{'is-invalid': hasError(signupForm, 'confirmPassword','required') || (signupForm.hasError('mismatch') && confirmPassword?.touched)}" />
                                <div class="invalid-feedback"
                                    *ngIf="hasError(signupForm, 'confirmPassword','required')">
                                    Confirm Password is required
                                </div>
                                <div class="invalid-feedback"
                                    *ngIf="!hasError(signupForm, 'confirmPassword','required') && signupForm.hasError('mismatch') && confirmPassword?.touched">
                                    Passwords do not match.
                                </div>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary" [disabled]="!signupForm.valid">
                                    Sign up
                                </button>
                            </div>
                            <div class="text-center mt-3">
                                Already have an account? <a [routerLink]="'/login'">Login</a>
                            </div>
                        </form>
                    </div>
                </ng-container>

            </div>
        </div>
    </div>
</div>